:root{
    --arancione: rgb(255, 136, 0);
    --nero:black;
    --bianco:white;
    --altezzaimg: 500px;
    --altezzadiv: 555px;
    --widthdiv: 350px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: var(--arancione);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;

}
nav{
    height: 70px;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-right: 10px;
}
a{
    color: var(--bianco);
    text-decoration: none;
}
nav div a:nth-of-type(2){
    padding: 0 20px;
}
nav.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
/* inizio main  */
main.container{
    max-width: 1170px;
    margin: 100px auto;
    
    

}
article{
    /* flex-basis: calc((100% - 20px) / 3); */
    width: calc((100% - 20px) / 3);
    padding: 10px;
}
.image-box{
    position: relative;
}
.image-box img{
    width: 100%;
    cursor: pointer;
}
.first{
    display: inline-block;
}
.second{
    display: none;
}
/* scambio immagine */
.image-box:hover .first{
    display: none;
}
.image-box:hover .second{
    display: inline-block;
}
article div:first-of-type{
    color: white;
}
/* cuoricino */
.heart{
    position: absolute;
    top: 20px;
    right: 0;
    width: 40px;
    height: 30px;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    color: black;
}
.heart:hover{
    color: red;
}
.sconto, .sostenibilita{
    padding: 10px 5px;
    text-align: center;
}
.sconto{
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.sostenibilita{
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 50px;
    /* scroll-behavior: smooth; */
}
article div:last-of-type h3{
    text-transform: uppercase;
}
article div:last-of-type span:nth-child(3){
    color: red;
}

/* inizio footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--nero);
    color: var(--bianco);
    height: 100px;
}
div.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
div.itemflex{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 20px;
}
div.itemflex h2{
    padding-bottom: 10px;
}
div.itemflex h3{
    padding-bottom: 10px;
}